<div class="clusterize">
  <table class="table table-striped table-bordered dataTable" role="grid" style="width: 100%;">
    <thead>
    <tr role="row">
      <th *ng-for="#column of columns" [ng2-th-sortable]="config.sorting"
          [column]="column" (sort-changed)="onSortChanged($event)"
          [style.width]="column.fixedWidth || 'auto'">
        {{column.title}}
        <i *ng-if="config && config.sorting && column.sort" class="pull-right glyphicon"
           [ng-class]="{'glyphicon-chevron-down': column.sort === 'desc', 'glyphicon-chevron-up': column.sort === 'asc'}"></i>
      </th>
    </tr>
    </thead>
    <tbody *ng-if="!config || !config.clusterize">
    <tr *ng-for="#row of rows">
      <td *ng-for="#column of columns">{{row[column.name]}}</td>
    </tr>
    </tbody>
  </table>
  <div *ng-if="config && config.clusterize" id="{{config.clusterize.scrollId}}" class="clusterize-scroll">
    <table class="table table-striped table-bordered dataTable" role="grid" style="width: 100%;">
      <tbody id="{{config.clusterize.contentId}}" class="clusterize-content" tabindex="0"
             [ng2-clusterize]="config.clusterize" [columns]="columns"
             [data-changed]="dataChanged"
             [rows-length]="rows.length"
             (scroll-changed)="onScrollChanged($event)"
             (clusterize-option-changed)="onClusterizeOptionChanged($event)">
        <tr [hidden]="config.clusterize.showNoDataRow" class="{{config.clusterize.noDataClass}}">
          <td *ng-for="#column of columns">{{config.clusterize.noDataText}}</td>
        </tr>
        <tr [hidden]="currentCluster === 0 || !config.clusterize.keepParity" class="clusterize-extra-row clusterize-keep-parity"></tr>
        <tr [hidden]="currentCluster === 0" class="clusterize-extra-row clusterize-top-space" [style.height]="topHeight"></tr>
        <tr *ng-for="#tr of trs">
          <td *ng-for="#column of columns">{{tr[column.name]}}</td>
        </tr>
        <tr [hidden]="currentCluster === lastCluster" class="clusterize-extra-row clusterize-bottom-space" [style.height]="bottomHeight"></tr>
      </tbody>
    </table>
  </div>
</div>
